// ==============================
// Logo
// =============================

.logo-wrapper {
  text-align: left;
  position: fixed;
  z-index: 100;
  top: -5px;
  padding-top: 0px;
  left: 10px;
  padding-left: 30px;
  bottom: 30px;
  padding-bottom: 30px;
  .logo {
    font-size: 64px;
    font-family: $logo-font-family;
    color: $theme-color;
    text-shadow: 2px 2px lighten(#5E5F62, 50%);
    &:hover {
        color: #F20EB7;
      }
  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
