.remark-slide-content {
  border-top: 7px solid #8b1f41;
  border-bottom: 7px solid #8b1f41;
  font-size: 1.2em;
  padding: 20px 60px;
  background-color: #fff;
}

.remark-slide-content > h1 {
  margin-top: 20px;
  margin-bottom: 0px;
}

.remark-slide-content > h2 {
  font-size: 1.2em;
  padding-left: 10px;
}

.inverse {
  background-color: #e87722;
  border:none;
  font-color: #fff;
  text-shadow: none;
}

.inverse2 {
  background-color: #fff;
  color:#000;
  text-shadow: none;
  border-top: 7px solid #8b1f41;
  border-bottom: 7px solid #8b1f41;
}

.inverse2 h1 {
  color: #e87722;
}

.inverse, .inverse h1, .inverse h2{
  color: #fff;
}

.inverse h3 {
  color: #8b1f41;
}

.inverse code {
  color: #E1E000;
}

.footnote {
  border-top: 2px solid #e87722;
  font-size: 0.6em;
}

.inverse .footnote {
  border-top: 1px solid #8b1f41;
  padding-top: 5px;
  color: #fff;
  font-size: 0.6em;
}

.inverse .footnote a {
  color: #508590;
}

.remark-code-line-highlighted { background-color: rgba(225, 224, 0, 0.6); }

h1 {
  color: #e87722;
}

h2 {
  font-size: 5px;
  margin-bottom: 20px;
  margin-top: 0px;
  padding: 0px;
  color: #e87722;
}

h3 {
  color: #e87722;
  margin-bottom: -20px;
  margin-top: 20px;
  padding: 0px;
}

code {
  color: #007935;
}

a {
  color: #3F97B5;
  text-decoration: none;
  transition: all .2s ease-in-out;
}

a:hover {
    /*font-size: 1.2em;*/
    color: #EC008C;
}

.inverse a {
  color: #2cd5c4;
  text-decoration: none;
  /*transition: all .2s ease-in-out;*/
}

.inverse a:hover {
    /*font-size: 1.2em;*/
    color: #fff;
}

.remark-slide-number {
  font-size: 0.6em;
}

.title-slide {
  border: 10px solid #e87722;
  background-color: #881f41;
}

.title-slide h1 {
  padding-top: 200px;
  font-size: 45px;
  text-align: left;
  padding-bottom: 18px;
  margin-bottom: 18px;
}

.title-slide h2 {
  font-size: 25px;
  color: #e87722;
  text-align: left;
  padding-top: 0px;
  padding-left:0px;
  margin-top: 0px;
}

.title-slide h3 {
  font-size: 20px;
  color: #e87722;
  text-align: left;
  text-shadow: none;
  padding: 0px;
  margin: 0px;
  line-height: 1;
}

.title-slide .remark-slide-number {
  display: none;
}

.mjx-chtml{ font-size: 100% !important; }

.major-emph-orange {
  display: block;
  text-align: center;
  font-family: 'Philosopher', sans-serif;
  width: 110%;
  background-color: #e87722;
  color: #eee;
  border-top: 3px solid #8b1f41;
  border-bottom: 3px solid #8b1f41;
  padding: 10px 50px;
  margin: 0px -100px 0px;
  font-weight: bolder;
  font-size: 175%;
}

.burnt-orange { color: #e87722; }

.maroon { color: #8b1f41; }
.teal { color: "#2cd5c4"; }
.fancy-font { font-family: 'Parisienne', cursive; }
