@import url(https://fonts.googleapis.com/css?family=Parisienne|Exo|Philosopher|Source+Code+Pro:400);

body { font-family: 'Exo', 'Palatino Linotype', 'Book Antiqua', Palatino,
'Microsoft YaHei', 'Songti SC', sans-serif; color: #8b1f41; font-size: 1.2rem;}
h1 { font-family: 'Philosopher', sans-serif; }
h2 { font-family: 'Philosopher', sans-serif; font-size: 20px;}
h3 { font-family: 'Parisienne', cursive; }

.remark-code, .remark-inline-code {font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }
